:root {
  //COLORS
  --primary-color1: rgb(223, 188, 143);
  --primary-color2: rgb(250, 192, 117);
  --secondary-color: rgb(216, 109, 67);
  --grey-color1: rgb(250, 250, 250);
  --grey-color2: rgb(236, 236, 190);
  --grey-color3: rgb(187, 187, 179);
  --grey-color-dark: rgb(33, 40, 71);

  //FONTS
  --heading-font: 'Raleway', sans-serif;
  --text-font: 'Lato', comic;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  @media only screen and (max-width: 75em) {
    font-size: 55%;
  }
   @media only screen and (max-width:33.75em) {
     font-size: 50%;
  }
  @media only screen and (max-width: 25em) {
    font-size: 40%;
  }
}
body {
  font-family: var(--text-font);
  color: var(--grey-color3);
  font-weight: 100;
  line-height: 1.5;
}
.container {
  display: grid;
  grid-template-rows: 100vh min-content repeat(3, min-content);
  grid-template-columns:
    [full-start] 5rem minmax(5rem, 1fr)
    [center-start] repeat(8, [col-start] minmax(min-content, 5rem) [col-end])
    [center-end] minmax(5rem, 1fr) [full-end];
     @media only screen and (max-width:33.75em) {
     grid-template-rows: 40vh min-content repeat(3, min-content);
    }
    @media only screen and (max-width:25em) {
     grid-template-rows: 25vh min-content repeat(3, min-content);
    }
     @media only screen and (max-width:20em) {
     grid-template-rows: 36vh min-content repeat(3, min-content);
    }
}
