.features {
  grid-column: full-start/ full-end;
  grid-row: 2/2;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, max-content);
  grid-column-gap: 8rem;
  grid-row-gap: 3rem;
  padding: 6rem 7rem;
  justify-content: center;
  position: relative;
   @media only screen and (max-width:33.75em) {
     grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, max-content);
    }
     @media only screen and (max-width: 25.875em) {
   grid-column-gap: 5rem;
   padding: 4rem;
  }
  
  &__icon {
    width: 4rem;
    height: 4rem;
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }
  &__paragraph {
    font-size: 1.4rem;
  }
}
.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  align-items: start;
}
