.footer {
  grid-column: full-start/ full-end;
  grid-row: 5/5;
  padding: 5rem 0;
  margin: 10rem 0 2rem 0;
  background-color: var(--grey-color-dark);
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, max-content));
  grid-template-rows: max-content min-content;
  justify-content: space-evenly;

  &__headone {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  &__headtwo {
    grid-column: 2/2;
    grid-row: 1/1;
  }
  &__nav {
    grid-column: 1/1;
    grid-row: 2/2;
  }
  &__navigation {
    grid-column: 2/2;
    grid-row: 2/2;
  }
  &__list {
    list-style: none;
  }
  &__item {
  }
  &__link {
    text-decoration: none;
    color: var(--grey-color2);
    font-size: 1.3rem;
    @media only screen and (max-width: 33.75em) {
     font-size: 1.4rem;
    }
  }
}

.copyright{
    align-items: baseline;
}